/* Dev CSS only - REMOVE BEFORE SUBMISSION 
.mockup-overlay {
	top: 0;
	position: absolute;
	z-index: -1;
	opacity: 0.4;
}
 End of Dev CSS block */

/* Global CSS */
* {
	font-family: 'Verdana', sans-serif;
	color : #666;
}

/* Header Elements */

h1 {  
	font-size: 48px;
	text-align: center;
} /* Style against h1 or is it better to give it a class and style there ? */

h2 {
	color: #f07c17;
	font-size: 24px;
	font-weight: bold;
}

.header-row {
	padding-top: 25px;
	/*padding-bottom: 20px;*/
}

/* Body Elements */

/* Left Column */ 


.logo-image {
	height: 374px;
	width: 374px;
	margin-top: 20px;
}

.feature-box {
	margin-top: 30px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 15px;
	border: 1px solid #ccc;
}

.feature-box-header {
	padding-left: 15px;
	padding-top: 10px;
}

.feature-box-list {
	font-size: 16px;
	line-height: 200%;

	padding-left: 15px;
  	padding-top: 20px;
  	padding-bottom: 30px;
}

/* Right Column */

/* .blurb-header {
	h2 styling satisfies this.
	} */

.blurb-body {
	margin-top: 30px;
	font-size: 16px;
	line-height: 200%;
}

