.mockup-overlay {
	top: 0;
	position: absolute;
	z-index: -1;
	opacity: 0.4;
}

* {
	font-family: 'Verdana', sans-serif;
	color : #666666;
}

h1 {
	font-size: 48px;
	text-align: center;
}

.header-row {
	padding-top: 25px;
}